/* Container to hold the left pane and main content */
.container {
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 0;
}

/* Left pane styling */
.left-pane {
    position: sticky;
    width: 150px;
    background-color: #6e6863;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Links inside the left pane */
.left-pane ul {
    list-style-type: none;
    padding: 0;
}

.left-pane ul li {
    margin-bottom: 10px;
}

.left-pane ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.left-pane ul li a:hover {
    text-decoration: underline;
}

/* Main content styling */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* Style for the entire body */
body {
    font-family: Arial, sans-serif;
    background-color: #97877a;
    margin: 0;
    padding: 0;
}

/* Style for the main heading */
h1 {
    color: #333;
    text-align: center;
    font-size: 36px;
}

/* Style for the image */
img {
    display: block;
    margin: 20px auto;
    border: 5px solid #6e6863;
    border-radius: 10px;
}

/* Paragraph styling with the same width as the image */
p {
    width: 525px; /* Match the width of the image */
    margin: 20px auto; /* Center it */
    color: #333;
    text-align: justify;
}
