/* Container to hold the left pane and main content */
.container {
    display: flex;
    margin: 0;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent background for container */
    overflow: hidden; /* Prevent the whole container from scrolling */
}


body {
    font-family: sans-serif, ui-sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent any scrolling at the body level */
    background-image: url('assets/1670284497378674.jpg'); 
    background-size: cover; /* Cover entire viewport */
    background-attachment: fixed; /* Keep it fixed when scrolling */
    background-position: center; /* Center the image */
}

/* Left pane styling */
.left-pane {
    position: sticky;
    top: 0;
    right: 0; /* Make the left pane sticky from the right */
    width: 150px;
    background-color: #6e6863;
    padding: 20px;
    height: 100vh; /* Full height of the viewport */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Adjust shadow direction */
    overflow-y: auto; /* Allow left pane to scroll if needed */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    flex-shrink: 0; /* Prevent the left pane from shrinking */
}

/* Links inside the left pane */
.left-pane ul {
    list-style-type: none;
    padding: 0;
}

.left-pane ul li {
    margin-bottom: 10px;
}

.left-pane ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease, color 0.3s ease;
}

.left-pane ul li a:hover {
    color: #e2ad82;
}

/* Main content styling */
main {
    flex-grow: 1;
    max-width: 750px; /* Set a max width for the content area */
    padding: 20px;
    overflow-y: auto; /* Allow scrolling for main content */
    box-sizing: border-box;
    background-color: #97877a; /* Solid background color for content */
  
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); 
    margin: auto;
    height: 100vh; /* Set main height to the full viewport height */
    overflow-y: scroll; /* Allow only the main content to scroll */

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

h1 {
    color: #333;
    text-align: center;
    font-size: 36px;
}

h2 {
    color: #333;
    padding-top: 15px;
    padding-left: 60px;
    text-align: left;
    font-size: 24px;
}

h3 {
    color: #333;
    text-align: center;
    font-size: 20px;
}

h4 {
    color: #333;
    text-align: center;
    font-size: 18px;
}
/* Styling for details element */
details {
    background-color: #6e6863;
    border: 0px solid #373431;
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto;
    width: 90%;
    max-width: 525px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styling for summary element */
details summary {
    color: #333;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    outline: none;
}

details[open] summary {
    border-bottom: 0px solid #333;
    margin-bottom: 10px;
}
/* Style for the image */
img {
    display: block;
    margin: 20px auto;
    border: 0px solid #6e6863;
    border-radius: 10px;
    box-shadow: 2px 0 5px rgba(0.1, 0.1, 0.1, 0.1);
}

/* Paragraph styling with the same width as the image */
p {
    font-size: 18px;
    width: 525px;
    margin: 20px auto;
    color: #333;
    text-align: justify;
}

/* Styling for the copyright paragraph */
p.copyright {
    font-size: 12px;
    color: #aaa;
    text-align: center;
    position: bottom;
    bottom: 0px;
    width: 100%;
    margin: 0;
}

/* Paragraph styling inside details */
details p {
    width: auto; /* Allow paragraphs inside details to take full width */
    margin: 10px 0;
    color: #bbb;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    color: #333;
    text-decoration: underline;
    transition: color 0.3s ease, color 0.3s ease;
}

/* Styling for links inside details element */
details a {
    color: #bbb;
    text-decoration: underline;
    transition: color 0.3s ease, color 0.3s ease;
}

a:hover {
    color: #e2ad82;
    text-decoration: underline;
}


/* Styling for code blocks */
code {
    background-color: #f4f4f4;
    padding: 5px;
    border-radius: 5px;
    font-family: monospace;
}

/* Styling for blockquote */
blockquote {
    background-color: #f4f4f4;
    padding: 10px;
    border-left: 5px solid #6e6863;
    margin: 20px auto;
    width: 90%;
    max-width: 525px;
    text-align: justify;
}

/* Styling for tables */
table {
    border-collapse: collapse;
    width: 90%;
    max-width: 525px;
    margin: 20px auto;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #6e6863;
    color: #fff;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none;
}

/* Grid container styling */
.grid-container { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.grid-item {
    background-color: #6e6863;
    border: 0px solid #373431;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    width: 100%;
    max-width: 200px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0.1, 0.1);
}

.grid-container a {
    color: #333;
    text-decoration: underline;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.grid-container a:hover {
    background-color: #e2ad82;
    text-decoration: underline;
}


details h4 {
    color: #bbb;
    text-align: left;
    margin-bottom: 0;
    margin-left: 20px;
}

/* Styling for social badge links */
a.social-badge, a.music-folio-badge {
    display: inline-block;
    background-color: #6e6863;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    margin: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a.music-folio-badge {
    text-align: center;
    display: block;
    width: fit-content;
    margin: 0 auto;
}

a.music-folio-badge:hover {
    background-color: #e2ad82;
    color: #333;
}

a.social-badge:hover {
    background-color: #e2ad82;
    color: #333;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin: 20px auto;
    border: 0px solid #6e6863;
    border-radius: 10px;
    box-shadow: 2px 0 5px rgba(0.1, 0.1, 0.1, 0.1);
}

audio::-webkit-media-controls-panel {
    background-color: #6e6863;
    color: #e2ad82;
    transition: background-color 0.3s ease, color 0.3s ease;
    transition: color 0.3s ease, color 0.3s ease;
}

audio::webkit-media-controls-panel:hover {
    background-color: #e2ad82;
    color: #333;
}

.music-folio {
    text-align: center;
    padding-top: 0px;
    padding-left: 0px;
}

.music-folio-grid-item {
    background-color: clear;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    width: 100%;
    max-width: 300px;
}

.content-with-image {
    max-width: 525px; /* Restrict the width to the same as the text */
    margin: 20px auto;
}

.content-with-image img {
    float: right; /* Make the image float to the right */
    margin-left: 20px;
    margin-bottom: 10px; /* Add some space between the image and the text */
    border-radius: 10px;
    box-shadow: 2px 0 5px rgba(0.1, 0.1, 0.1, 0.1);
    max-width: 200px;
    height: auto;
}
