body {
    background-color: rgb(20, 20, 20);
    color: rgb(200, 200, 200);
    font-family: monospace;
}

pre {
    margin: 0;
    font-size: 14px;
}

a {
    color: rgb(0, 200, 0);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.file {
    color: rgb(0, 200, 200);
}

a.download {
    color: rgb(200, 0, 200);
}

em {
    color: rgb(200, 200, 0);
}

em.hover {
    text-decoration: underline;
}