/* Container to hold the left pane and main content */
.container {
    display: flex;
    margin: 0;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for container */
    overflow: hidden; /* Prevent the whole container from scrolling */
}

/* Apply background image to the body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent any scrolling at the body level */
    background-image: url('../assets/1670284497378674.jpg'); /* Add your background image */
    background-size: cover; /* Cover entire viewport */
    background-attachment: fixed; /* Keep it fixed when scrolling */
    background-position: center; /* Center the image */
}

/* Left pane styling */
.left-pane {
    position: sticky;
    top: 0;
    width: 150px;
    background-color: #6e6863;
    padding: 20px;
    height: 100vh; /* Full height of the viewport */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Allow left pane to scroll if needed */
    flex-shrink: 0; /* Prevent the left pane from shrinking */
}

/* Links inside the left pane */
.left-pane ul {
    list-style-type: none;
    padding: 0;
}

.left-pane ul li {
    margin-bottom: 10px;
}

.left-pane ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.left-pane ul li a:hover {
    text-decoration: underline;
}

/* Main content styling */
main {
    flex-grow: 1;
    max-width: 750px; /* Set a max width for the content area */
    padding: 20px;
    overflow-y: auto; /* Allow scrolling for main content */
    box-sizing: border-box;
    background-color: #97877a; /* Solid background color for content */
   
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Optional shadow */
    margin: auto;
    height: 100vh; /* Set main height to the full viewport height */
    overflow-y: scroll; /* Allow only the main content to scroll */

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

/* Style for the main heading */
h1 {
    color: #333;
    text-align: center;
    font-size: 36px;
}

/* Style for the image */
img {
    display: block;
    margin: 20px auto;
    border: 5px solid #6e6863;
    border-radius: 10px;
    box-shadow: 2px 0 5px rgba(0.1, 0.1, 0.1, 0.1);
}

/* Paragraph styling with the same width as the image */
p {
    width: 525px;
    /* Match the width of the image */
    margin: 20px auto;
    /* Center it */
    color: #333;
    text-align: justify;
}
